
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="app">
                    <label for="name">
                        Введите имя:
                    </label>
                    <input name="name" id="name">
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
