<template>
    <div class="container">
        <h1>Game</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-4">
                        Name: {{ game.name }}
                    </div>
                    <div class="col-4">
                        Score: {{ game.score }}
                    </div>
                    <div class="col-4">
                        Type Temperature: {{ game.type }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button @click.prevent="getTemperatureHight('0')">
                            {{ City1.name }}
                        </button>
                        <div class="temp" v-text="City1.temperature">{{ City1.temperature }}</div>
                    </div>
                    <div class="col-6">
                        <button @click.prevent="getTemperatureHight('1')">
                            {{ City2.name }}
                        </button>
                        <div class="temp" v-text="City2.temperature">{{ City2.temperature }}</div>
                    </div>
                    <div v-if="gameNext" class="row">
                        <div class="text-center col-12">
                            <button @click="next">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        gameNext: false,
        apikey: "61512f687aeee6e13dbf9413e3b8c456",
        game: {
            id: "",
            name: "",
            score: "",
            type: "",
        },

        City1: {
            id: "",
            name: "",
            temperature: undefined,
            type: "",
        },
        City2: {
            id: "",
            name: "",
            temperature: undefined,
            type: "",
        }

    }),
    // props:['name','score','typeTemperature'],
    mounted() {

        this.loadValue();
    },
    methods: {
        loadValue() {
            this.gameNext = false;
            axios.post('/api/history-game/game', '', {
                headers: {
                    "Content-type": "application/json"
                }
            })
                .then(res => {
                    this.game.id = res.data.id
                    this.game.name = res.data.name
                    this.game.score = res.data.score
                    this.game.type = res.data.type
                    console.log(res.data.type)
                    if (this.game.name === '') {
                        this.$router.push('/');
                    } else {
                        axios.get('/api/city/random', {
                            headers: {
                                "Content-type": "application/json"
                            }
                        }).then(res => {
                            this.City1.name = res.data[0].name;
                            this.City1.id = res.data[0].id;
                            this.City1.temperature = undefined;
                            this.City1.type =  this.game.type
                            this.City2.name = res.data[1].name;
                            this.City2.id = res.data[1].id;
                            this.City2.temperature = undefined;
                            this.City2.type =  this.game.type
                        })
                    }
                })
        },
        async getTemparature(city, typeTemperature) {
            let url = 'https://api.openweathermap.org/data/2.5/weather?id=' + city.id + '&appid=' + this.apikey + '&units=' + typeTemperature;
            await axios.get('/api/city/temp',
                {
                    params:
                        {
                            url: url
                        }
                })
                .then(res => {
                    city.temperature = res.data.main.temp;
                })
                .catch((error) => {
                    console.log(error)
                })

        },
        async getTemperatureHight(citiesId) {
            let typeTemperature = '';
            if (this.game.type == 'C') {
                typeTemperature = 'metric';
            } else {
                typeTemperature = 'imperial'
            }

            if (this.City1.temperature === undefined) {
                await this.getTemparature(this.City1, typeTemperature);
            }
            if (this.City2.temperature === undefined) {
                await this.getTemparature(this.City2, typeTemperature);
            }
            // console.log(this.City1.temperature)
            // console.log(this.City2.temperature)
            if (citiesId === '0' && this.City1.temperature > this.City2.temperature) {
                this.gameNext = true
                this.game.score += 1
                this.gameSave()
            } else if (citiesId === '1' && this.City2.temperature > this.City1.temperature) {
                this.gameNext = true
                this.game.score += 1
                this.gameSave()
            } else {
                this.gameNext = false
                this.gameSave()
            }
        },
        gameSave() {
            this.game.cities = {
                city1: this.City1,
                city2: this.City2,
                result: this.gameNext
            }
            axios.put('/api/history-game/' + this.game.id, this.game, {
                headers: {
                    "Content-type": "application/json"
                }
            })
                .then(res => {
                    if (res.data.status) {
                        this.$router.push('/game');
                    } else {
                        setTimeout(() => {
                            this.loading = false;
                        }, 300);
                        this.error = true;
                    }
                })
        },
        next() {
            this.loadValue();
        }
    }
}
</script>
