<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <label for="name">
                    Введите имя:
                </label>
                <input
                    name="name"
                    id="name"
                    value=""
                    v-model="game.name"
                    placeholder="Имя игрока">
                <input type="button" @click.prevent="startGame" value="Начать игру">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            game: {
                name: "",
                score: 0,
                type: "C"
            }
        }
    },
    mounted() {
    },
    methods: {
        startGame() {
            axios.post('/api/history-game', this.game, {
                headers: {
                    "Content-type": "application/json"
                }
            })
                .then(res => {
                    if (res.data.status) {
                        this.$router.push('/game');
                    } else {
                        setTimeout(() => {
                            this.loading = false;
                        }, 300);
                        this.error = true;
                    }
                })
        }
    }

}
</script>
