<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                Settings:
                <br>
                <input type="radio" id="one" value="C" v-model="game.type">
                <label for="one">C</label>
                <br>
                <input type="radio" id="two" value="F" v-model="game.type">
                <label for="two">F</label>
                <br>
                <span>Выбрано: {{ game.type }}</span>
                <button @click="save()">Save</button>
            </div>
            <div class="col-md-8">
                <div>Name: {{game.name}}</div>
                <div>Score: {{game.score}}</div>
                History:
                <table>
                    <tr>
                        <th>City1</th>
                        <th>City2</th>
                        <th>Result</th>
                    </tr>
                    <tr v-for="h in history">

                        <td>
                            {{ h['city1']['name'] }}
                            <br>{{ h.city1.temperature }}
                            <br>{{ h.city1.type }}
                        </td>
                        <td>
                            {{ h.city2.name }}
                            <br>{{ h.city2.temperature }}
                            <br>{{ h.city2.type }}
                        </td>
                        <td>{{ h.result }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        game: {
            id: "",
            name: "",
            score: "",
            type: "",
        },
        history: []
    }),
    mounted() {
        this.loadValue()
    },
    methods: {
        async loadValue() {
            this.gameNext = false;
            await axios.post('/api/history-game/game', '', {
                headers: {
                    "Content-type": "application/json"
                }
            })
                .then(res => {
                    console.log(res.data)
                    this.game.id = res.data.id
                    this.game.name = res.data.name
                    this.game.score = res.data.score
                    this.game.type = res.data.type
                    for (let hs of JSON.parse(res.data.games)) {
                        this.history.push(hs)
                    }
                    console.log(length)
                })
        },
        save() {
            axios.post('/api/history-game/saveSettings', this.game, {
                headers: {
                    "Content-type": "application/json"
                }
            })
                .then(res => {
                    if (res.data.status) {
                        this.$router.push('/game');
                    } else {
                        this.error = true;
                    }
                })
        }
    }
}
</script>
