<template>
    <div class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link :to="links[0].href">Game</router-link>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    <li class="nav-item" v-for="link in links">
                        <router-link :to="link.href" :alt="link.title">{{ link.title }}</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    mounted() {
    },
    data() {
        return {
            links: [
                {
                    title: "Старт",
                    href: "/"
                },
                {
                    title: "Рейтинг",
                    href: "/settings"
                }
            ]
        }
    }
}
</script>
